<div class="d-flex justify-content-md-center align-items-center vh-100">
    <div >
        <div class="mb-5">
            <h1>Ai generated astrology predictions!</h1>
        </div>
        
            <div class="input-group mb-3">
            <input [(ngModel)]="email" type="email" class="form-control" placeholder="email" aria-label="Name" aria-describedby="basic-addon1">
            </div>
            <div class="input-group mb-3">
                <select [(ngModel)]="userHoroscope" class="form-control" id="exampleFormControlSelect1">
                    <option value="taurus">Taurus</option>
                    <option value="gemini">Gemini</option>
                    <option value="cancer">Cancer</option>
                    <option value="leo">Leo</option>
                    <option value="virgo">Virgo</option>
                    <option value="libra">Libra</option>
                    <option value="scorpio">Scorpio</option>
                    <option value="sagittarius">Sagittarius</option>
                    <option value="capricorn">Capricorn</option>
                    <option value="aquarius">Aquarius</option>
                    <option value="pisces">Pisces</option>
                </select>

            </div>
            <div class="input-group mb-3">
                <input [(ngModel)]="birthDate" type="date" class="form-control" placeholder="Date" aria-label="Date" aria-describedby="basic-addon1">
            </div>            
            <div class="d-flex justify-content-center">
                <button type="submit" (click)="submitForm()" class="btn btn-primary">Submit</button>
            </div>
        
    </div>
</div>