<div class="d-flex justify-content-md-center align-items-center vh-100">
    <!-- grey transperant box with rounded corners with no corners -->
    <div class="card" style="width: 45rem; height: 30rem; background-color: rgba(127, 127, 127, 0.5);">
        <div class="card-body">
            <div class="row">
                <div class="col-sm d-flex justify-content-md-center">
                  <div *ngFor="let readingType of readingTypes">
                    <input type="radio"
                           id="{{  readingType }}"
                           name="{{readingType}}"
                           value="{{ readingType }}"
                           [checked]="readingType=== selectedReadingType"
                           [(ngModel)]="selectedReadingType"
                           (ngModelChange)="getReading()" />
                           <img src="/assets/type_icon/{{readingType}}.png" alt="{{readingType}}" (click)="selectedReadingType=readingType; getReading()" height="25" width="25">
                </div>
                </div>
            </div>
            <div class="row justify-content-md-center align-items-center">
                <div class="col-sm">
                  <img src="/assets/horoscope_icon/{{userHoroscope}}.png" alt="{{userHoroscope}}" width="300" height="300">
                </div>
                <div class="col-sm">
                  <p class="text-center" *ngIf="!isLoading">{{horoscopeReading}}</p>
                  <p class="text-center" *ngIf="isLoading">Please Wait...</p>
                </div>
              </div>
        </div>
      </div>
    <div class="opacity-25">

    </div>
</div>
