<div class="d-flex justify-content-md-center align-items-center vh-100">
    <!-- grey transperant box with rounded corners with no corners -->
    <div class="card bg-secondary bg-gradient opacity-25" style="width: 45rem; height: 30rem;">
        <div class="card-body">
            <div class="row">
                <div class="col-sm">
                    this is where the three dots will go
                    
                </div>
            </div>
            <div class="row">
                <div class="col-sm">
                  One of three columns
                </div>
                <div class="col-sm">
                  One of three columns
                </div>
              </div>
        </div>
      </div>
    <div class="opacity-25">

    </div>
</div>
